<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Services</h2>
                    <h3 class="section-subheading text-muted">No one knows your small business like you do. But let your business data tell you the whole story.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Management</h4>
                    <p class="text-muted">Your data is an asset, but only when it is properly managed. Our experts can work with business data of all types, from all sources, and for any purpose.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-dashboard fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Reporting and Alerts</h4>
                    <p class="text-muted">Our consultants can provide you with automated email reports and alerts that will ensure that you are always on top of your key business metrics.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Business Analysis</h4>
                    <p class="text-muted">We are able to use the most sophisticated statistical and business intelligence processes to extract real value from your data to benefit your business.</p>
                </div>
            </div>
        </div>
    </section>